body{
    background: #5e35b1;
    background-image: url("files/fundo.jpg");
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container h1{
    background: #333;
    border-radius: 7px;
    font-size: 40px;
    margin-bottom: 20px;
    background-clip: content-box;
}

.container a{
    background: white;
    color: lightseagreen;
    border-radius: 7px;    
    padding: 4px;
    background-clip: padding-box;
}


.tbox{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: auto;
}

.tbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}

.btn{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: auto;
    display: block;
}